# Save this file to /usr/local/nagios/etc/objects/intranet-portal.cfg
# and add: cfg_file=/usr/local/nagios/etc/objects/intranet-portal.cfg
# inside /usr/local/nagios/etc/nagios.cfg

define host {
    use                     linux-server
    host_name               intranet-portal-host
    alias                   Intranet Portal Host
    address                 127.0.0.1      ; change to your Docker/K8s host IP
}

define service {
    use                     generic-service
    host_name               intranet-portal-host
    service_description     HTTP
    check_command           check_http!-p 30080
}
